<% if shout.errors.any? %>
  <ul style="color: red">
    <% shout.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for shout do |f| %>
  <%= f.fields_for :content do |c| %>
    <%= c.hidden_field :content_type, value: "TextShout" %>
    <%= c.text_field :body, required: true %>
  <% end %>

  <%= f.submit %>
<% end %>
