<div class='mt-4'>
  <%= user_avatar_thumb(shout.user) %>

  <%= link_to shout.user.username, user_path(shout.user) %>
  <%= render shout.content, content: shout.content %>

  <%= link_to shout_path(shout) do %>
    <%= time_ago_in_words(shout.created_at) %> ago
  <% end %>

  <%= like_button(current_user, shout) %>
</div>
